html, body {
     font-family: 'Lato', 'PT-Sans', sans-serif;
     max-width: 100%;
     overflow-x: hidden;
}
 .jumbotron {
     margin-bottom: 0;
}
 .info_window {
     font-family: Cambria;
}
 #footer_jumbotron {
     background-color: #d3dded;
}
 #info_jumbotron {
     background: #000 url("../nyc_background4.jpg") no-repeat center bottom;
     width: 100%;
     height: ;
     background-size: cover;
     overflow: hidden;
     position:relative;
     top:0;
     left:0;
     z-index:1;
}
 #info_jumbotron:before{
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}
#mission_jumbotron {
     background-color: #e3f2fd;
}
 #main_nav {
     background-color: #e3f2fd;
     background-color: white;
}
.display-4 {
     font-weight: bold;
}
.link:hover, .link:visited {
     text-decoration: none;
}
.link {
     color: blue;
     margin-right: 50px;
}
 #map {
     margin: auto;
     width: 70%;
     height: 650px;
}
 #zip {
     width: 50%;
     margin: auto;
}
 .lead {
     line-height: 1.4em;
     letter-spacing: .1em;
}
 #images .rounded-circle {
     height: 115px;
     width: 115px;
     border: 2px solid black;
}
 .row {
     text-align: center;
     padding-right: 10%;
     padding-left: 10%;
}
 .row .icon-group {
     margin: 0 auto;
}
