html, body {
     font-family: 'Lato', 'PT-Sans', sans-serif;
     max-width: 100%;
     overflow-x: hidden;
}
.jumbotron {
     margin-bottom: 0;
}
.info_window {
     font-family: Cambria;
}
 #footer_jumbotron {
     background-color: #d3dded;
}
 #info_jumbotron {
     background: #000 url("../nyc_background4.jpg") no-repeat center bottom;
     height: 44em;
     background-size: cover;
     overflow: hidden;
     position:relative;
     top:0;
     left:0;
     z-index:1;
}
 #info_jumbotron:before{
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
}
#mission_jumbotron {
     background-color: #e3f2fd;
}
 #main_nav {
     background-color: white;
}
.display-4 {
     font-weight: bold;
}
.link:hover, .link:visited {
     text-decoration: none;
}
.link {
     color: blue;
     margin-right: 50px;
}
 #map {
     width: 71%;
     height: 650px;
     margin-left: 28%;
     border: 2px solid black;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}
#panel { 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    position:absolute; 
    width:27%; 
    height: 650px;
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 1%; 
    font-size: .8em;
}
 #zip {
     width: 50%;
     margin: auto;
}
 .lead {
     line-height: 1.4em;
     letter-spacing: .1em;
     font-weight: bold;
}
 #images .rounded-circle {
     height: 115px;
     width: 115px;
     border: 2px solid black;
}
 .row {
     text-align: center;
     padding-right: 10%;
     padding-left: 10%;
}
 .row .icon-group {
     margin: 0 auto;
}
.firstHeading {
     font-weight: bold;
}
ul, ol {
    list-style:none;
}
a, a:visited, a:hover {
    text-decoration: none;
}
.black-color, .black-color a {
    color: black;
}
.white-color, .white-color a {
    color: white;
}
.orange-color, .orange-color a {
    color: orange;
}
.yellow-color, .yellow-color a {
    color: #bab72e;
}
.green-color, .green-color a {
    color: green;
}
.blue-color, .blue-color a {
    color: #1d3c8c;
}
.red-color, .red-color a {
    color: #0f7f79;
}
.pink-color, .pink-color a {
    color: #f442bc;
}
.purple-color, .purple-color a {
    color: purple;
}
.soup_kitchens_background {
    background-color: orange;
}
.food_pantries_background {
    background-color: black;
}
.place_info {
     padding-top: 5%;
     padding-right: 5%;
     padding-left: 5%;
     height: 100%;
     width: 100%;
}
.place_info a:hover {
     filter: brightness(0.9);
}
.senior_center_background {
    background-color: #73d678;
}
#bodyContent ul {
    padding-left: 0;
}
#bodyContent ul li {
     font-size: 1.25em;
     font-weight: 400;
}
.firstHeading {
    font-size: 1.5em;
}